<div class="container mt-5">
  <h2>New List</h2>
  <%= simple_form_for(@list) do |f| %>
    <%= f.input :name %>
    <%= f.input :photo, as: :file %>
    <%= f.submit class: 'button btn-flat ' %>
  <% end %>
</div>
