<div class="container mt-5">
  <h2>New List</h2>
  <%= form_with model: @list do |f| %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <%= f.submit class: 'button btn-flat ' %>
  <% end %>
</div>
